@font-face {
  font-family: 'Roboto-Bold';
  src: url("../fonts/Roboto-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Roboto-Bold.woff") format("woff"), url("../fonts/Roboto-Bold.ttf") format("truetype"), url("../fonts/Roboto-Bold.svg#Roboto-Bold") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto-Regular';
  src: url("../fonts/Roboto-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Roboto-Regular.woff") format("woff"), url("../fonts/Roboto-Regular.ttf") format("truetype"), url("../fonts/Roboto-Regular.svg#Roboto-Regular") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto-Medium';
  src: url("../fonts/Roboto-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/Roboto-Medium.woff") format("woff"), url("../fonts/Roboto-Medium.ttf") format("truetype"), url("../fonts/Roboto-Medium.svg#Roboto-Medium") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'merriweatherbold';
  src: url("../fonts/merriweather-bold-webfont.woff2") format("woff2"), url("../fonts/merriweather-bold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Avenir-Medium';
  src: url("../fonts/Avenir-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/Avenir-Medium.woff") format("woff"), url("../fonts/Avenir-Medium.ttf") format("truetype"), url("../fonts/Avenir-Medium.svg#Avenir-Medium") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'NotoSans-Regular';
  src: url("../fonts/NotoSans-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'NotoSans-Bold';
  src: url("../fonts/NotoSans-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Roboto-Bold';
  src: url("../fonts/Roboto-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Roboto-Bold.woff") format("woff"), url("../fonts/Roboto-Bold.ttf") format("truetype"), url("../fonts/Roboto-Bold.svg#Roboto-Bold") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto-Regular';
  src: url("../fonts/Roboto-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Roboto-Regular.woff") format("woff"), url("../fonts/Roboto-Regular.ttf") format("truetype"), url("../fonts/Roboto-Regular.svg#Roboto-Regular") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto-Medium';
  src: url("../fonts/Roboto-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/Roboto-Medium.woff") format("woff"), url("../fonts/Roboto-Medium.ttf") format("truetype"), url("../fonts/Roboto-Medium.svg#Roboto-Medium") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'merriweatherbold';
  src: url("../fonts/merriweather-bold-webfont.woff2") format("woff2"), url("../fonts/merriweather-bold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Avenir-Medium';
  src: url("../fonts/Avenir-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/Avenir-Medium.woff") format("woff"), url("../fonts/Avenir-Medium.ttf") format("truetype"), url("../fonts/Avenir-Medium.svg#Avenir-Medium") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'NotoSans-Regular';
  src: url("../fonts/NotoSans-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'NotoSans-Bold';
  src: url("../fonts/NotoSans-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Roboto-Bold';
  src: url("../fonts/Roboto-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Roboto-Bold.woff") format("woff"), url("../fonts/Roboto-Bold.ttf") format("truetype"), url("../fonts/Roboto-Bold.svg#Roboto-Bold") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto-Regular';
  src: url("../fonts/Roboto-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Roboto-Regular.woff") format("woff"), url("../fonts/Roboto-Regular.ttf") format("truetype"), url("../fonts/Roboto-Regular.svg#Roboto-Regular") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto-Medium';
  src: url("../fonts/Roboto-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/Roboto-Medium.woff") format("woff"), url("../fonts/Roboto-Medium.ttf") format("truetype"), url("../fonts/Roboto-Medium.svg#Roboto-Medium") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'merriweatherbold';
  src: url("../fonts/merriweather-bold-webfont.woff2") format("woff2"), url("../fonts/merriweather-bold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Avenir-Medium';
  src: url("../fonts/Avenir-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/Avenir-Medium.woff") format("woff"), url("../fonts/Avenir-Medium.ttf") format("truetype"), url("../fonts/Avenir-Medium.svg#Avenir-Medium") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'NotoSans-Regular';
  src: url("../fonts/NotoSans-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'NotoSans-Bold';
  src: url("../fonts/NotoSans-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto-Bold';
  src: url("../fonts/Roboto-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Roboto-Bold.woff") format("woff"), url("../fonts/Roboto-Bold.ttf") format("truetype"), url("../fonts/Roboto-Bold.svg#Roboto-Bold") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto-Regular';
  src: url("../fonts/Roboto-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Roboto-Regular.woff") format("woff"), url("../fonts/Roboto-Regular.ttf") format("truetype"), url("../fonts/Roboto-Regular.svg#Roboto-Regular") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto-Medium';
  src: url("../fonts/Roboto-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/Roboto-Medium.woff") format("woff"), url("../fonts/Roboto-Medium.ttf") format("truetype"), url("../fonts/Roboto-Medium.svg#Roboto-Medium") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'merriweatherbold';
  src: url("../fonts/merriweather-bold-webfont.woff2") format("woff2"), url("../fonts/merriweather-bold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Avenir-Medium';
  src: url("../fonts/Avenir-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/Avenir-Medium.woff") format("woff"), url("../fonts/Avenir-Medium.ttf") format("truetype"), url("../fonts/Avenir-Medium.svg#Avenir-Medium") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'NotoSans-Regular';
  src: url("../fonts/NotoSans-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'NotoSans-Bold';
  src: url("../fonts/NotoSans-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

html,
body {
  width: 100%;
  overflow-x: hidden;
}

body {
  font-family: NotoSans-Regular;
  -webkit-font-smoothing: antialiased;
  background: transparent;
  background: #fff;
  color: #000;
}

* {
  outline: none;
}

.fancybox-can-swipe .fancybox-content {
  width: 100%;
  margin: 60px 0 0 0;
  padding: 0;
}

.fancybox-slide--html .fancybox-close-small {
  left: -320px;
  margin: 150px auto 0;
}

@media screen and (max-width: 740px) {
  .fancybox-slide--html .fancybox-close-small {
    margin: 20px auto 0;
  }
}

@media screen and (max-width: 360px) {
  .fancybox-slide--html .fancybox-close-small {
    left: -280px;
  }
}

.fancybox-slide {
  padding: 0 !important;
}

.nopadding {
  padding: 0;
}

.clear2 {
  clear: both;
  width: 100%;
  float: left;
}

.hide {
  display: none;
}

a:active {
  opacity: 0.8;
}

.row.center_special {
  -webkit-box-pack: center;
  -webkit-justify-content: center;
     -moz-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 767px) {
  .row {
    margin: 0px;
  }
}

@media screen and (max-width: 767px) {
  .row .col-xs-12 {
    padding: 0px;
  }
}

.btn {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #fff;
  -webkit-border-radius: 0;
     -moz-border-radius: 0;
          border-radius: 0;
  border: 2px solid #a2a2a2;
  padding: 15px 25px;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 15px;
  width: 100%;
  max-width: 342px;
  text-transform: uppercase;
}

@media screen and (max-width: 740px) {
  .btn {
    width: 100%;
    font-size: 15px;
  }
}

.btn:after {
  content: "";
  display: block;
  margin-left: auto;
  background-image: url("../images/buttonarrow.png");
  background-repeat: no-repeat;
  background-position: center right 0;
  -webkit-background-size: 35px 35px;
     -moz-background-size: 35px;
       -o-background-size: 35px;
          background-size: 35px;
  width: 58px;
  height: 20px;
}

@media screen and (max-width: 740px) {
  .btn:after {
    -webkit-background-size: 45px 45px;
       -moz-background-size: 45px;
         -o-background-size: 45px;
            background-size: 45px;
    width: 50px;
  }
}

h2 {
  font-size: 21px;
  font-family: NotoSans-Bold;
}

.container-fluid {
  padding: 0 7%;
}

@media screen and (max-width: 740px) {
  .container-fluid {
    padding: 0 0%;
  }
}

.container-fluid.form_bg {
  min-height: 1500px;
  background: url("../images/bg_iqos_form.png") no-repeat center bottom;
  -webkit-background-size: cover;
     -moz-background-size: cover;
       -o-background-size: cover;
          background-size: cover;
  margin: 10% 0 0;
}

.form_bg form {
  max-width: 435px;
  width: 100%;
  position: relative;
  display: block;
  margin: 0 auto;
  -webkit-box-shadow: 0px 0px 5px #999;
     -moz-box-shadow: 0px 0px 5px #999;
          box-shadow: 0px 0px 5px #999;
  background: #fff;
  padding: 70px 50px;
  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
          border-radius: 5px;
}

@media screen and (max-width: 740px) {
  .form_bg form {
    -webkit-box-shadow: 0px 0px 0px #999;
       -moz-box-shadow: 0px 0px 0px #999;
            box-shadow: 0px 0px 0px #999;
  }
}

.form_bg form h2 {
  width: 100%;
  text-align: center;
  font-size: 24px;
  padding: 0 12%;
  text-transform: uppercase;
  margin-bottom: 40px;
}

.form_bg form .box_label {
  margin-bottom: 20px;
  overflow: hidden;
  display: block;
}

.form_bg form .box_label p {
  font-family: NotoSans-Regular;
  float: left;
  font-size: 13px;
  text-transform: none;
  color: #4a4a4a;
  text-align: center;
}

.form_bg form .box_label p a {
  color: #4a4a4a;
  text-decoration: underline;
}

.form_bg form .box_label label {
  font-size: 14px;
  color: #c2c4ca;
  font-family: NotoSans-Bold;
  width: 100%;
  text-transform: uppercase;
  margin-bottom: 0;
}

.form_bg form .box_label label.label_check {
  font-family: NotoSans-Regular;
  float: left;
  width: -webkit-calc(100% - 50px);
  width: -moz-calc(100% - 50px);
  width: calc(100% - 50px);
  font-size: 13px;
  text-transform: none;
  color: #4a4a4a;
}

.form_bg form .box_label label.label_check a {
  color: #4a4a4a;
  text-decoration: underline;
}

.form_bg form .box_label input {
  height: 42px;
  width: 100%;
  border: none;
  border-bottom: 1px solid #a5a5a5;
}

.form_bg form .box_label input.check {
  width: 40px;
  float: left;
  margin: 0 0 0 0;
  height: 22px;
}

.form_bg form .box_label .select-style {
  padding: 0;
  margin: 0;
  height: 42px;
  border: none;
  border-bottom: 1px solid #a5a5a5;
  width: 100%;
  overflow: hidden;
  background-color: #fff;
  background: #fff url("../images/select.png") no-repeat 100% 50%;
}

.form_bg form .box_label .select-style.col30 {
  width: 30%;
  float: left;
  margin: 0 1%;
}

.form_bg form .box_label .select-style select {
  padding: 5px 8px;
  width: 100%;
  border: none;
  -webkit-box-shadow: none;
     -moz-box-shadow: none;
          box-shadow: none;
  background-color: transparent;
  background-image: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.form_bg form .box_label select:focus {
  outline: none;
}

.navbar {
  font-family: NotoSans-Bold;
  font-size: 18px;
}

.navbar.bg-light {
  background-color: #fff !important;
  height: 64px;
  z-index: 100000;
}

@media screen and (max-width: 740px) {
  .navbar.bg-light {
    padding: 6px 0;
  }
}

.navbar.bg-light .navbar-collapse {
  padding: 50px 0;
}

@media screen and (max-width: 740px) {
  .navbar.bg-light .navbar-collapse {
    background: #fff;
  }
}

.navbar.navbar-light .navbar-toggler {
  position: absolute;
  border-color: rgba(0, 0, 0, 0);
}

@media screen and (max-width: 740px) {
  .navbar.navbar-light .navbar-toggler {
    position: relative;
  }
}

.navbar.navbar-light .navbar-toggler:focus {
  outline: 0px;
}

.navbar.navbar-light .navbar-toggler-icon {
  width: 2em;
  background-image: url("../images/menu.png");
}

.navbar.navbar-light .navbar-nav .nav-link {
  color: #4c4c4c;
  letter-spacing: 0.05rem;
  font-size: 14px;
}

.navbar.navbar-light .navbar-nav .nav-link:hover {
  color: #4c4c4c;
}

.navbar.navbar-light .navbar-nav .nav-link:active {
  color: #4c4c4c;
}

.navbar .navbar-brand {
  margin: 0 auto;
}

.navbar .navbar-nav .nav-item {
  margin: 0 15px;
  text-align: center;
}

@media screen and (max-width: 740px) {
  .navbar .navbar-nav .nav-item {
    text-align: left;
  }
}

.banner {
  background-image: url("../images/images_03.jpg");
  -webkit-background-size: cover;
     -moz-background-size: cover;
       -o-background-size: cover;
          background-size: cover;
  background-position: center;
  height: 70vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
     -moz-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

@media screen and (max-width: 740px) {
  .banner {
    background-image: url("../images/images_06.jpg");
    -webkit-background-size: cover;
       -moz-background-size: cover;
         -o-background-size: cover;
            background-size: cover;
    background-position: center;
    height: 92vh;
  }
}

.banner .container-fluid {
  width: 100%;
  margin: 3% auto;
  color: #fff;
  position: relative;
}

@media screen and (max-width: 740px) {
  .banner .container-fluid {
    width: 100%;
    margin: 20% auto;
  }
}

.banner .container-fluid .line {
  left: -43%;
  margin-bottom: 5%;
  width: 60%;
  height: 20px;
  background-color: #54a8dc;
  position: absolute;
  top: -50px;
}

.banner .container-fluid .content_banner {
  max-width: 460px;
}

@media screen and (max-width: 740px) {
  .banner .container-fluid .content_banner {
    padding: 0 5%;
  }
}

.banner .container-fluid h2 {
  font-size: 29px;
  font-family: NotoSans-Bold;
  margin-bottom: 5%;
}

@media screen and (max-width: 740px) {
  .banner .container-fluid h2 {
    font-size: 18px;
  }
}

.banner .container-fluid p {
  font-size: 15px;
  margin-bottom: 10%;
}

@media screen and (max-width: 740px) {
  .banner .container-fluid p {
    font-size: 11px;
  }
}

.title {
  margin: 7.3% 0 1.8% 0;
}

@media screen and (max-width: 740px) {
  .title {
    margin: 8% 0 8% 0;
    text-align: center;
    padding: 0 5%;
  }
}

@media screen and (max-width: 740px) {
  .txt-block {
    padding: 0 0%;
  }
}

.txt-block .benefits {
  margin: 38px 0;
  max-width: 494px;
}

@media screen and (max-width: 740px) {
  .txt-block .benefits {
    margin: 0px 0 38px;
  }
}

.txt-block .benefits .col-2 {
  padding-right: 0;
}

.txt-block .benefits.Mobile .col {
  padding: 0;
}

.txt-block .benefits.Mobile .col img {
  width: 100%;
}

.txt-block .benefits img {
  display: block;
  width: 85%;
  margin: 0 auto;
}

.txt-block .benefits h5 {
  font-family: NotoSans-Bold;
  font-size: 15px;
}

@media screen and (max-width: 740px) {
  .txt-block .benefits h5 {
    font-size: 13px;
  }
}

.txt-block .benefits p {
  font-size: 13px;
}

@media screen and (max-width: 740px) {
  .txt-block .benefits p {
    font-size: 12px;
  }
}

.txt-block .txt-button {
  margin-top: 20%;
  margin-bottom: 20%;
}

@media screen and (max-width: 740px) {
  .txt-block .txt-button .btn {
    width: 90%;
  }
}

.txt-image {
  display: block;
  width: 100%;
  margin: 0 auto;
  margin-top: 6%;
  max-width: 520px;
}

.Desktop {
  display: block;
}

@media screen and (max-width: 740px) {
  .Desktop {
    display: none;
  }
}

.Mobile {
  display: none;
}

@media screen and (max-width: 740px) {
  .Mobile {
    display: block;
  }
}

.select-style_l {
  padding: 0;
  margin: 0;
  height: 42px;
  border: none;
  border-bottom: 1px solid #a5a5a5;
  width: 100px;
  overflow: hidden;
  background-color: #fff;
  top: 18vw;
  position: absolute;
  background: #fff url("../images/select.png") no-repeat 100% 50%;
}

.select-style_l select {
  padding: 5px 8px;
  width: 100%;
  border: none;
  -webkit-box-shadow: none;
     -moz-box-shadow: none;
          box-shadow: none;
  background-color: transparent;
  background-image: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.footer {
  padding: 8vw 0;
  border-top: 2px solid #d09d64;
  position: relative;
  background-color: #fff;
}

@media (min-width: 35.9375em) {
  .footer {
    padding: 4vw 0;
  }
}

@media (min-width: 48em) {
  .footer {
    border-width: 2px;
  }
}

@media (min-width: 64em) {
  .footer {
    padding: 5vw 0;
  }
}

.footer .category-title {
  font-size: 1.3rem;
  border: 2px solid #cecccc;
  padding: 1.25rem;
  margin-bottom: 5vw;
  text-align: center;
}

.footer__content {
  display: -ms-flexbox;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: flex;
  -ms-flex-wrap: nowrap;
  -webkit-flex-wrap: nowrap;
          flex-wrap: nowrap;
  -ms-flex-pack: justify;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
     -moz-box-pack: justify;
          justify-content: space-between;
}

.footer__content {
  margin: 0 auto;
  padding: 0 1.25rem;
  position: relative;
}

@media (min-width: 1024px) {
  .content-width,
  .header__content,
  .header-banner__content,
  .footer__content,
  .breadcrumb__content,
  .product-details__warranty-details {
    padding: 0 1.25rem;
  }
}

@media (min-width: 1300px) {
  .content-width,
  .header__content,
  .header-banner__content,
  .footer__content,
  .breadcrumb__content,
  .product-details__warranty-details {
    padding: 0 4.6875rem;
    max-width: 120rem;
  }
}

.footer-logo {
  padding-right: 1.25rem;
  -ms-flex: 1 1 auto;
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 auto;
     -moz-box-flex: 1;
          flex: 1 1 auto;
}

.footer-logo__img {
  width: 20vw;
  height: 5.19481vw;
}

@media (min-width: 35.9375em) {
  .footer-logo__img {
    width: 11vw;
    height: 2.85714vw;
  }
}

@media (min-width: 48em) {
  .footer-logo__img {
    width: 11vw;
    height: 2.85714vw;
  }
}

@media (min-width: 64em) {
  .footer-logo__img {
    width: 7.25vw;
    height: 1.88313vw;
  }
}

.footer-logo__crights {
  margin: 1.4vw 0;
  line-height: 1.3;
  color: #8a8989;
  font-size: 2.2vw;
  letter-spacing: 0.00625rem;
}

@media (min-width: 35.9375em) {
  .footer-logo__crights {
    font-size: 1.5vw;
  }
}

@media (min-width: 48em) {
  .footer-logo__crights {
    font-size: 1.2vw;
  }
}

@media (min-width: 64em) {
  .footer-logo__crights {
    margin: 0.875vw 0;
    font-size: 0.8125vw;
    letter-spacing: 0.0125rem;
  }
}

.footer-menu {
  margin: 0 100px 0 0;
  padding: 0;
  text-align: right;
}

@media (min-width: 320px) {
  .footer-menu {
    margin: 0;
  }
}

@media (min-width: 1024px) {
  .footer-menu {
    margin: 0 100px 0 0;
  }
}

@media (min-width: 48em) {
  .footer-menu {
    float: right;
    margin-top: 0;
    text-align: left;
  }
}

.footer-menu__item {
  list-style-type: none;
}

@media (min-width: 48em) {
  .footer-menu__item {
    min-width: 15.5vw;
    float: left;
  }

  .footer-menu__item:last-child {
    width: auto;
    min-width: 0;
  }
}

@media (min-width: 64em) {
  .footer-menu__item {
    min-width: 14vw;
  }
}

.footer-menu__heading {
  margin: 0 0 2vw;
  color: #000;
  white-space: nowrap;
  cursor: pointer;
  display: inline-block;
  font-size: 3.1vw;
  line-height: 1.2;
}

.footer-menu__heading-arrow {
  margin: 0.8vw 0 0 0.3125rem;
  width: 2.25vw;
  height: 2.25vw;
  vertical-align: top;
}

@media (min-width: 35.9375em) {
  .footer-menu__heading-arrow {
    margin: 0.5625rem 0 0 0.3125rem;
  }
}

.footer-menu__heading--active .footer-menu__heading-arrow {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
   -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
       transform: rotate(180deg);
}

@media (min-width: 48em) {
  .footer-menu__heading-arrow {
    display: none;
  }
}

@media (min-width: 35.9375em) {
  .footer-menu__heading {
    margin-bottom: 1.8vw;
    font-size: 2.4vw;
  }

  .footer-menu__heading-arrow {
    margin-top: 0.4vw;
    width: 1.5vw;
    height: 1.5vw;
  }
}

@media (min-width: 48em) {
  .footer-menu__heading {
    margin-bottom: 1.5vw;
    font-size: 1.4vw;
  }
}

@media (min-width: 64em) {
  .footer-menu__heading {
    margin-bottom: 1.15vw;
    font-size: 0.9375vw;
  }
}

.f-menu-cat {
  margin: 0 4.2vw 0 0;
  padding: 0;
  height: 0;
  overflow: hidden;
}

@media (min-width: 35.9375em) {
  .f-menu-cat {
    margin-right: 3.2vw;
  }
}

@media (min-width: 48em) {
  .f-menu-cat {
    margin-top: 0;
    height: auto;
  }
}

.f-menu-cat--active {
  height: auto;
}

.f-menu-cat--follow {
  font-size: 0;
  line-height: 0;
}

@media (min-width: 48em) {
  .f-menu-cat--follow {
    width: 100%;
  }
}

.f-menu-cat__item {
  list-style-type: none;
  margin: 0 0 2.8vw;
  font-size: 2.8vw;
  line-height: 1.2;
}

.f-menu-cat__item:first-of-type {
  margin-top: 2vw;
}

@media (min-width: 35.9375em) {
  .f-menu-cat__item {
    margin-bottom: 1.8vw;
    font-size: 2vw;
  }

  .f-menu-cat__item:first-of-type {
    margin-top: 0.5vw;
  }
}

@media (min-width: 48em) {
  .f-menu-cat__item {
    margin: 0 0 1.2vw;
    font-size: 1.2vw;
  }

  .f-menu-cat__item:last-of-type {
    margin-bottom: 0;
  }
}

@media (min-width: 64em) {
  .f-menu-cat__item {
    margin: 0 0 0.8125vw;
    font-size: 0.9125vw;
  }
}

@media (min-width: 81.25em) {
  .f-menu-cat__item {
    font-size: 0.8125vw;
  }
}

.f-menu-cat__item--follow {
  margin-bottom: 0.1875rem;
  display: inline-block;
}

@media (min-width: 48em) {
  .f-menu-cat__item--follow {
    text-align: center;
    display: block;
  }
}

@media (min-width: 64em) {
  .f-menu-cat__item--follow {
    margin-bottom: 0.5rem;
  }
}

.f-menu-cat__item-link {
  -webkit-transition: color 300ms linear 0ms;
  -o-transition: color 300ms linear 0ms;
  -moz-transition: color 300ms linear 0ms;
  transition: color 300ms linear 0ms;
}

.f-menu-cat__item-link:link,
.f-menu-cat__item-link:visited {
  color: #7b7b7b;
}

.f-menu-cat__item-link:hover,
.f-menu-cat__item-link:active {
  color: #000;
}

.f-menu-cat__item-link--follow {
  -webkit-transition: opacity 300ms linear 0ms;
  -o-transition: opacity 300ms linear 0ms;
  -moz-transition: opacity 300ms linear 0ms;
  transition: opacity 300ms linear 0ms;
}

.f-menu-cat__item-link--follow:link,
.f-menu-cat__item-link--follow:visited {
  font-size: 0;
  line-height: 0;
  text-indent: 100%;
  opacity: 1;
}

.icon-social {
  float: right;
  display: block;
  clear: both;
  margin-right: 5px;
}

.f-menu-cat__item-link--follow:hover,
.f-menu-cat__item-link--follow:active {
  opacity: 0.8;
}

.f-menu-cat__item-icon {
  width: 1.25rem;
  height: 1.25rem;
  fill: #656565;
}

@media (min-width: 81.25em) {
  .f-menu-cat__item-icon {
    width: 1.875rem;
    height: 1.875rem;
  }
}

.f-menu-cat__item-icon--twitter {
  height: 1.0625rem;
}

@media (min-width: 81.25em) {
  .f-menu-cat__item-icon--twitter {
    height: 1.625rem;
  }
}

.f-menu-cat__item-icon--youtube {
  height: 0.9375rem;
}

@media (min-width: 81.25em) {
  .f-menu-cat__item-icon--youtube {
    height: 1.375rem;
  }
}

.footer-container__legal {
  margin-bottom: 3.125rem;
}

.language-selector {
  top: 18vw;
  position: absolute;
}

@media (min-width: 35.9375em) {
  .language-selector {
    top: 12vw;
  }
}

@media (min-width: 48em) {
  .language-selector {
    top: 9.8vw;
  }
}

@media (min-width: 64em) {
  .language-selector {
    top: 7.8vw;
  }
}

@media (min-width: 81.25em) {
  .language-selector {
    top: 7.5vw;
  }
}

.select-footer {
  z-index: 1000;
  position: absolute;
}

.collapse-arrow {
  content: "";
  width: 0;
  height: 0;
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  -moz-transform: rotate(45deg);
   -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
       transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  margin-left: 10px;
  cursor: pointer;
}

@media (min-width: 768px) {
  .collapse-arrow {
    display: none;
  }
}

.collapse-arrow.active {
  -moz-transform: rotate(-135deg);
   -ms-transform: rotate(-135deg);
    -o-transform: rotate(-135deg);
       transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
}

.f-menu-cat {
  margin: 0 1.25rem 0 0;
  padding: 0;
  height: auto;
}

.f-menu-cat.collapse-submenu {
  display: none;
}

@media (min-width: 768px) {
  .f-menu-cat.collapse-submenu {
    display: block;
  }
}

.footer .footer-logo__crights {
  margin: 1.4vw 0;
  line-height: 1.3;
  color: #8a8989;
  font-size: 2.2vw;
  width: 100%;
  letter-spacing: 0.00625rem;
}

@media (min-width: 768px) {
  .footer .footer-logo__crights {
    font-size: 1.2vw;
    width: inherit;
  }
}

@media (min-width: 1024px) {
  .footer .footer-logo__crights {
    margin: 0.875vw 0;
    font-size: 0.8125vw;
    letter-spacing: 0.0125rem;
  }
}

.footer .footer-menu .footer-menu__heading {
  font-weight: bold;
}

.footer .footer-menu .footer-menu__heading:hover {
  cursor: default;
}

.footer .footer-menu .f-menu-cat__item .icon-twitter {
  font-size: 20px;
}

@media (min-width: 1024px) {
  .footer .footer-menu .f-menu-cat__item .icon-twitter {
    font-size: 36px;
  }
}

.footer .footer-menu .f-menu-cat__item .icon-instagram {
  font-size: 20px;
}

@media (min-width: 1024px) {
  .footer .footer-menu .f-menu-cat__item .icon-instagram {
    font-size: 36px;
  }
}

@media (min-width: 1024px) {
  .footer .footer-menu .f-menu-cat__item .icon-instagram:before {
    width: 30px;
    height: 30px;
    background-position: center center;
    -webkit-background-size: 30px 30px;
       -moz-background-size: 30px 30px;
         -o-background-size: 30px 30px;
            background-size: 30px 30px;
  }
}

@media (min-width: 1024px) {
  .footer .footer-menu .f-menu-cat__item .icon-instagram:hover:before {
    width: 30px;
    height: 30px;
    background-position: center center;
    -webkit-background-size: 30px 30px;
       -moz-background-size: 30px 30px;
         -o-background-size: 30px 30px;
            background-size: 30px 30px;
  }
}

.footer .footer-menu .f-menu-cat__item .icon-youtube {
  font-size: 20px;
}

@media (min-width: 1024px) {
  .footer .footer-menu .f-menu-cat__item .icon-youtube {
    font-size: 30px;
  }
}

.footer .footer-menu .f-menu-cat__item .icon-youtube:before {
  content: ' ';
  display: inline-block;
  width: 20px;
  height: 20px;
  background-image: url("../../../../../themes/custom/pmi_iqos/assets/images/icons/youtube.svg");
  background-position: center center;
  -webkit-background-size: 20px 20px;
     -moz-background-size: 20px 20px;
       -o-background-size: 20px 20px;
          background-size: 20px 20px;
}

@media (min-width: 1024px) {
  .footer .footer-menu .f-menu-cat__item .icon-youtube:before {
    width: 30px;
    height: 30px;
    background-position: center center;
    -webkit-background-size: 30px 30px;
       -moz-background-size: 30px 30px;
         -o-background-size: 30px 30px;
            background-size: 30px 30px;
  }
}

.footer .footer-menu .f-menu-cat__item .icon-youtube:hover:before {
  content: ' ';
  display: inline-block;
  width: 20px;
  height: 20px;
  background-image: url("../../../../../themes/custom/pmi_iqos/assets/images/icons/youtube-hover.svg");
  background-position: center center;
  -webkit-background-size: 20px 20px;
     -moz-background-size: 20px 20px;
       -o-background-size: 20px 20px;
          background-size: 20px 20px;
}

@media (min-width: 1024px) {
  .footer .footer-menu .f-menu-cat__item .icon-youtube:hover:before {
    width: 30px;
    height: 30px;
    background-position: center center;
    -webkit-background-size: 30px 30px;
       -moz-background-size: 30px 30px;
         -o-background-size: 30px 30px;
            background-size: 30px 30px;
  }
}

.footer .footer-menu .f-menu-cat__item .icon-facebook {
  font-size: 20px;
}

@media (min-width: 1024px) {
  .footer .footer-menu .f-menu-cat__item .icon-facebook {
    font-size: 36px;
  }
}

.footer .footer-menu .f-menu-cat__item .icon-kakao {
  display: block;
  width: 100%;
  height: 100%;
}

.select-hidden {
  display: none;
  visibility: hidden;
  padding-right: 10px;
}

.select {
  cursor: pointer;
  display: inline-block;
  font-size: 16px;
  color: black;
  width: 50%;
  height: auto;
}

@media (min-width: 1024px) {
  .select {
    width: 10%;
  }
}

.select-styled {
  position: absolute;
  top: 1px;
  right: 0px;
  bottom: 0;
  left: 5px;
  -webkit-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
  color: transparent;
}

.select-styled:after {
  content: "";
  width: 0;
  height: 0;
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  -moz-transform: rotate(45deg);
   -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
       transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  margin-left: 10px;
}

.select-styled:active:after,
.select-styled.active:after {
  -moz-transform: rotate(-135deg);
   -ms-transform: rotate(-135deg);
    -o-transform: rotate(-135deg);
       transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
}

.select-options {
  display: none;
  position: absolute;
  bottom: 100%;
  right: 0;
  left: 0;
  z-index: 1;
  margin: 0;
  padding: 0;
  list-style: none;
  background-color: white;
  border-right: 1px solid #000;
  border-left: 1px solid #000;
  border-top: 1px solid #000;
}

.select-options li {
  margin: 0;
  padding: 12px 0;
  text-indent: 15px;
  border-bottom: 1px solid #000;
  color: #575757;
  -webkit-transition: all 0.15s ease-in;
  -o-transition: all 0.15s ease-in;
  -moz-transition: all 0.15s ease-in;
  transition: all 0.15s ease-in;
}

.select-options li:hover {
  background: #f9f9f9;
}

.select-options li[rel="hide"] {
  display: none;
}
@font-face {
  font-family: 'Roboto-Bold';
  src: url("../fonts/Roboto-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Roboto-Bold.woff") format("woff"), url("../fonts/Roboto-Bold.ttf") format("truetype"), url("../fonts/Roboto-Bold.svg#Roboto-Bold") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto-Regular';
  src: url("../fonts/Roboto-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Roboto-Regular.woff") format("woff"), url("../fonts/Roboto-Regular.ttf") format("truetype"), url("../fonts/Roboto-Regular.svg#Roboto-Regular") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto-Medium';
  src: url("../fonts/Roboto-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/Roboto-Medium.woff") format("woff"), url("../fonts/Roboto-Medium.ttf") format("truetype"), url("../fonts/Roboto-Medium.svg#Roboto-Medium") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'merriweatherbold';
  src: url("../fonts/merriweather-bold-webfont.woff2") format("woff2"), url("../fonts/merriweather-bold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Avenir-Medium';
  src: url("../fonts/Avenir-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/Avenir-Medium.woff") format("woff"), url("../fonts/Avenir-Medium.ttf") format("truetype"), url("../fonts/Avenir-Medium.svg#Avenir-Medium") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'NotoSans-Regular';
  src: url("../fonts/NotoSans-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'NotoSans-Bold';
  src: url("../fonts/NotoSans-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Roboto-Bold';
  src: url("../fonts/Roboto-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Roboto-Bold.woff") format("woff"), url("../fonts/Roboto-Bold.ttf") format("truetype"), url("../fonts/Roboto-Bold.svg#Roboto-Bold") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto-Regular';
  src: url("../fonts/Roboto-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Roboto-Regular.woff") format("woff"), url("../fonts/Roboto-Regular.ttf") format("truetype"), url("../fonts/Roboto-Regular.svg#Roboto-Regular") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto-Medium';
  src: url("../fonts/Roboto-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/Roboto-Medium.woff") format("woff"), url("../fonts/Roboto-Medium.ttf") format("truetype"), url("../fonts/Roboto-Medium.svg#Roboto-Medium") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'merriweatherbold';
  src: url("../fonts/merriweather-bold-webfont.woff2") format("woff2"), url("../fonts/merriweather-bold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Avenir-Medium';
  src: url("../fonts/Avenir-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/Avenir-Medium.woff") format("woff"), url("../fonts/Avenir-Medium.ttf") format("truetype"), url("../fonts/Avenir-Medium.svg#Avenir-Medium") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'NotoSans-Regular';
  src: url("../fonts/NotoSans-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'NotoSans-Bold';
  src: url("../fonts/NotoSans-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}